<p>#rest on freenode has been logged here from <a href="http://irclog.greptilian.com/rest/2014-05-24">May 2014</a> until <a href="http://irclog.greptilian.com/rest/2018-07-31">end of July 2018</a> but logging has been suspended because the channel has been riddled with spam since August 2018 with no end in site. See the following blog posts about the problem:</p>

<ul>
	<li>2018-07-27: <a href="https://freenode.net/news/spambot-attack">https://freenode.net/news/spambot-attack</a></li>
	<li>2018-08-05: <a href="https://nedbatchelder.com/blog/201808/fighting_spam_on_freenode.html">https://nedbatchelder.com/blog/201808/fighting_spam_on_freenode.html</a></li>
	<li>2018-08-06: <a href="https://freenode.net/news/spam-shake">https://freenode.net/news/spam-shake</a></li>
	<li>2018-08-10: <a href="https://discourse.opensourcedesign.net/t/spam-in-open-source-design-chat-room/712">https://discourse.opensourcedesign.net/t/spam-in-open-source-design-chat-room/712</a></li>
	<li>2018-09-24: <a href="https://freenode.net/news/spamfilter">https://freenode.net/news/spamfilter</a></li>
</ul>

<p>Until the spam problem has been dealt with and logging can resume, please visit our wiki at <a href="https://trygvis.io/rest-wiki/">https://trygvis.io/rest-wiki/</a></p>

<p>Thanks.</p>
